<script src="${contextpath}resources/commuser/personalcenter/PersonalHomeLCJCVer2.js"></script>
<div class="jcsbssl">
    <input type="hidden" class="queryCondition" id="tag_num" value="$!{tag_num}">
    <input type="hidden" class="queryCondition" id="online_progress" value="$!{online_progress}">
    <input type="hidden" class="queryCondition" id="finalResult" value="$!{finalResult}">
    <input type="hidden" class="queryCondition" id="pmphAudit" value="$!{pmphAudit}">
    <input type="hidden" class="queryCondition" id="search" value="$!{search}">

    <span class="clnicalTag" id="clnicalTag1" onclick="listoction('1');" style="cursor:pointer"><span class="backImge"></span>已暂存</span>
    <span class="clnicalTag" id="clnicalTag2" onclick="listoction('2');" style="cursor:pointer"><span class="backImge"></span>已退回</span>
    <span class="clnicalTag" id="clnicalTag3" onclick="listoction('3');" style="cursor:pointer"><span class="backImge"></span>正在遴选</span>
    <span class="clnicalTag" id="clnicalTag4" onclick="listoction('4');" style="cursor:pointer"><span class="backImge"></span>遴选结束</span>
    <span class="clnicalTag" id="clnicalTag5" onclick="listoction('5');" style="cursor:pointer"><span class="backImge"></span>报名成功</span>
    <span class="clnicalTag" id="clnicalTag" onclick="listoction('');"  style="cursor:pointer"><span class="backImge"></span>全部状态</span>

    <div id="btn_wdsbssk_div"><button title="搜索" id="btn_wdsbssk"><div onclick="querySearch()"></div></button></div>
    <input type="text" id="wdsbssk" value="$!{search}" placeholder="搜索">
</div>
<div class="listContent">
    #foreach($c in $!{List_map})
        <div class="leftlb">
            <div class="mleft1_1">
                <div class="left_1 product_name"
                	onclick="tolcjcdetail($!{c.product_type})" style="cursor: pointer"
                >$!{c.product_name}
                #if($!{c.online_progress}==0)
                  <img src="$!{contextpath}statics/image/zancun.png">
                #end
                </div>
                #if($!{c.product_type}==1)
                    <div class="left_1" style="margin-top: 30px">产品分类：人卫临床助手</div>
                #end
                #if($!{c.product_type}==2)
                    <div class="left_1" style="margin-top: 30px">产品分类：人卫中医助手</div>
                #end
                #if($!{c.product_type}==3)
                    <div class="left_1" style="margin-top: 30px">产品分类：人卫用药助手</div>
                #end
                <div class="left_1">截止日期：$!{c.actualDeadline}</div>
            </div>
            <div style="float: left">
                <div class="left_2">学校审核：$!{c.school_progress}</div>
                <div class="left_2">出版社审核：$!{c.pmeph_progress}</div>
                <div class="left_2">提交日期：$!{c.gmt_create_new}</div>

                    #if($!{c.user_id}!=$!{c.longinUserId}) 
                    	#if($!{c.flag}==1)
                        	<div class="left_2 upexr" onclick="tojoin($!{c.product_type})">报名参加</div>
                        #else
                        	<div class="left_2 upexr" onclick="tojoin($!{c.product_type})">查看公告</div>
                        #end
					#else
                    	#if($!{c.online_progress}==0||$!{c.online_progress}==2||$!{c.online_progress}==5)
	                        <div class="left_2 upexr" onclick="toproductdetail($!{c.product_id})">修改申报表</div>
	                    #elseif($!{c.online_progress}==1||$!{c.online_progress}==3||$!{c.online_progress}==4)
	                        <div class="left_2 upexr" onclick="toproductdetail($!{c.product_id})">查看申报表</div>
	                    #else
	                    	<div class="left_2 upexr" onclick="toPersondetail($!{c.product_id})">查看申报表</div>
	                    #end
                    #end

            </div>
        </div>
    #end
</div>