<script src="${contextpath}resources/commuser/personalcenter/PersonalHomeLCJC.js"></script>
<div class="jcsbssl">
    <input type="hidden" class="queryCondition" id="myall" value="$!{myall}">
#*    <input type="hidden" class="queryCondition" id="pageinfo" value="$!{pageinfo}">
    <input type="hidden" class="queryCondition" id="dateinfo" value="$!{dateinfo}">*#
    <input type="hidden" class="queryCondition" id="online_progress" value="$!{online_progress}">
    <input type="hidden" class="queryCondition" id="search" value="$!{search}">
  #*  <input type="hidden" class="queryCondition" id="is_staging" value="$!{is_staging}">
    <input type="hidden" class="queryCondition" id="pageinfo1" value="$!{pageinfo1}">*#


    <span id="jcsbwdsb" class="active" onclick="listoction();" style="cursor:pointer">我的申报</span>
    <span id="jcsbqb" class="" onclick="listoction0();" style="cursor:pointer">全部</span>
    <span class="jcsbsbzt" id="sbzzjx" onclick="listoction1('one');" style="cursor:pointer">正在进行</span>
    <span class="jcsbsbzt" id="sbyjs" style="cursor:pointer" onclick="listoction1('two');">已结束</span>
    <span class="jcsbsbzt" id="sbzc" onclick="listoction1('three');" style="cursor:pointer">暂存</span>
    <span class="jcsbsbzt" id="sbytj" onclick="listoction1('fore');" style="cursor:pointer">已提交</span>
    <span class="jcsbsbzt" id="qktj" onclick="listoction1('five');" style="cursor:pointer">全部</span>
    <div id="btn_wdsbssk_div"><button title="搜索" id="btn_wdsbssk"><div></div></button></div>
    <input type="text" id="wdsbssk" value="" placeholder="搜索">
</div>
<div class="listContent">
    #foreach($c in $!{List_map})
        <div class="leftlb">
            <div class="mleft1_1">
                <div class="left_1">人卫临床助手产品
                #if($!{c.online_progress}==0)
                  <img src="/pmeph/statics/image/zancun.png">
                #end
                </div>
                <div class="left_1" style="margin-top: 30px">产品分类：$!{c.product_name}</div>
                <div class="left_1">截至日期：$!{c.actualDeadline}</div>
            </div>
            <div style="float: left">
                <div class="left_2">学校审核：$!{c.school_progress}</div>
                <div class="left_2">出版社审核：$!{c.pmeph_progress}</div>
                <div class="left_2">提交日期：$!{c.gmt_create_new}</div>
             #if($!{c.online_progress}==0||$!{c.online_progress}==2||$!{c.online_progress}==5)
                 <div class="left_2 upexr" onclick="toupdate($!{c.id})">修改申报表</div>
             #elseif($!{c.online_progress}==1||$!{c.online_progress}==3||$!{c.online_progress}==4)
                 <div class="left_2 upexr" onclick="todetail($!{c.id})">查看申报表</div>
             #end


            </div>
        </div>
    #end
</div>