<script src="${contextpath}resources/commuser/personalcenter/PersonalHomeJCSB.js"></script>
#set($objectNum =$!{startNum})

<input type="hidden" class="queryCondition" id="s" value="$!{s}">
<input type="hidden" class="queryCondition" id="pageinfo" value="$!{pageinfo}">
<input type="hidden" class="queryCondition" id="dateinfo" value="$!{dateinfo}">
<input type="hidden" class="queryCondition" id="online_progress" value="$!{online_progress}">
<input type="hidden" class="queryCondition" id="bookname" value="$!{bookname}">
<input type="hidden" class="queryCondition" id="is_staging" value="$!{is_staging}">
<input type="hidden" class="queryCondition" id="pageinfo1" value="$!{pageinfo1}">

<div class="jcsbssl">
	<input type="hidden" id="pageinfo" value="$!{para.pageinfo}">
    <span id="jcsbwdsb" class="active"  onclick="listoction(this,'');" style="cursor:pointer">我的申报</span>
    <span id="jcsbqb" class="" onclick="listoction(this,1);" style="cursor:pointer">全部</span>
    <span class="jcsbsbzt" id="sbzzjx" onclick="listoction1(1);" style="cursor:pointer">正在进行</span>
    <span class="jcsbsbzt" id="sbyjs" style="cursor:pointer" onclick="listoction1(2);">已结束</span>
    <span class="jcsbsbzt" id="sbzc" onclick="listoction3();" style="cursor:pointer">暂存</span>
    <span class="jcsbsbzt" id="sbytj" onclick="listoction4();" style="cursor:pointer">已提交</span>
    <span class="jcsbsbzt" id="qktj" onclick="listoction5();" style="cursor:pointer">全部</span>
    <div id="btn_wdsbssk_div"><button title="搜索" id="btn_wdsbssk"><div></div></button></div>
    <input type="text" id="wdsbssk" value="$!{para.bookname}" placeholder="公告搜索">
</div>


<div class="listContent">
    <ul class="scul">
    #foreach($c in $!{List_map})
		
		<li class="leftlb" 
					#if($!{c.online_progress}==2 || $!{c.online_progress}==5)
                    	title="退回原因：$!{c.return_cause}"
                    #end
       >
		
		#if($!{c.datebase}>0 || $!{c.is_all_textbook_published}==true || $!{c.is_force_end}==true )
        	<div class="mleft3">
            <div class="ysbrs3">
                <div class="baomingrenshu3"><span class="canjiarenshu3">$!{c.exmember}</span><span>人</span>
                    <br/><span class="ybmcj3">已报名人数</span></div>
                </div>
                <div class="bmcj3">
                    <div class="bmcjan3"><span>已结束</span></div>
                    
                    #if($!{c.iamin}>0 && $!{c.online_progress}>0)
                   <!-- <a class="abmcj" href="$!{contextpath}progress/listReportProgress.action?materialId=$!{c.material_id}">
                		<div class="bmcjan4">查看申报进度</div>
                	</a>  -->
                    <a class="abmcj" href="$!{contextpath}material/showMaterial.action?declaration_id=$!{c.declaration_id}">
                		<div class="bmcjan4">查看申报表</div>
                	</a>
                	#end
                </div>
                
            </div>
        #elseif($!{c.iamin}==0 && $!{c.datebase}<=0 && $!{c.is_all_textbook_published}==false && $!{c.is_force_end}==false)
			<div class="mleft">
                <div class="ysbrs">
                    <div class="baomingrenshu"><span
                            class="canjiarenshu">$!{c.exmember}</span><span>人</span>
                        <br/><span class="ybmcj"></span></div>
                </div>
                <div class="bmcj">
                    <a class="abmcj" href="$!{contextpath}material/toMaterialAdd.action?material_id=$!{c.material_id}"><div class="bmcjan"><span>
                    		报名参加</span></div></a>
                <!-- toMaterialZc暂存   showMaterial查看 -->
                </div>
            </div>
        #elseif($!{c.iamin}>0 && ($!{c.online_progress}==0) && $!{c.datebase}<=0 && $!{c.is_all_textbook_published}==false && $!{c.is_force_end}==false)  
			<div class="mleft1">
                <div class="ysbrs1">
                    <div class="baomingrenshu1"><span
                            class="canjiarenshu1">$!{c.exmember}</span><span>人</span>
                        <br/><span class="ybmcj1">已报名人数</span></div>
                </div>
                <div class="bmcj2">
                    <a class="abmcj" href="$!{contextpath}material/toMaterialZc.action?declaration_id=$!{c.declaration_id}"><div class="bmcjan1">
                    		修改申报表</div></a>
                    		
                </div>
            </div>
		#elseif($!{c.iamin}>0 && ($!{c.online_progress}==2||$!{c.online_progress}==5) && $!{c.datebase}<=0 && $!{c.is_all_textbook_published}==false && $!{c.is_force_end}==false)  
			<div class="mleft1">
                <div class="ysbrs1">
                    <div class="baomingrenshu1"><span
                            class="canjiarenshu1">$!{c.exmember}</span><span>人</span>
                        <br/><span class="ybmcj1">已报名人数</span></div>
                </div>
                <div class="bmcj1">
                    <a class="abmcj" href="$!{contextpath}progress/listReportProgress.action?materialId=$!{c.material_id}"><div class="bmcjan1"><span>申报进度查询</span></div></a>
                    <a class="abmcj" href="$!{contextpath}material/toMaterialZc.action?declaration_id=$!{c.declaration_id}"><div class="cksbb1">
                    		修改申报表</div></a>
                    		
                </div>
            </div>
		#elseif($!{c.iamin}>0 && ($!{c.online_progress}==1||$!{c.online_progress}==3||$!{c.online_progress}==4) && $!{c.datebase}<=0 && $!{c.is_all_textbook_published}==false && $!{c.is_force_end}==false )
			<div class="mleft1">
                <div class="ysbrs1">
                    <div class="baomingrenshu1"><span
                            class="canjiarenshu1">$!{c.exmember}</span><span>人</span>
                        <br/><span class="ybmcj1">已报名人数</span></div>
                </div>
                <div class="bmcj1">
                	<a class="abmcj" href="$!{contextpath}progress/listReportProgress.action?materialId=$!{c.material_id}"><div class="bmcjan1"><span>申报进度查询</span></div></a>
                    <a class="abmcj" href="$!{contextpath}material/showMaterial.action?declaration_id=$!{c.declaration_id}"><div class="cksbb1"><span>
                    		查看申报表</span></div></a>
                </div>
            </div>
        
		#end

            <div class="mright">
                <div class="rshang">
                    <div class="rshangn">
                    	<a target="_blank" 
                    		#if($!{c.cms_id}>0) href="$!{contextpath}message/noticeMessageDetail.action?cmsId=$!{c.cms_id}"
                    		#else title = "抱歉，该教材公告详情已被删除。" 
                    		#end
                    	>
                    		$!{c.material_name}
                    	</a>
                    #if(($!{c.is_staging}==true || $!{c.is_staging}==1)&&$!{c.online_progress}==0)
                    	<img src="$!{contextpath}statics/image/zancun.png">
                    #end
                    #if($!{c.online_progress}==2 || $!{c.online_progress}==5)
                    	<img src="$!{contextpath}statics/image/tuihui.png" title="退回原因：$!{c.return_cause}">
                    #end
                   </div>
                </div>
                <div class="rxia">
                    <div class="rxian">截止日期：$!{c.age_deadline}</div>
                    #if(${c.notNullIfFirstManager})
                    	#if(( $!{c.chosen_position}==4||$!{c.chosen_position}==12 ) && $!{c.rank}==1 && $!{c.is_force_end}==false && $!{c.is_all_textbook_published}==false)
	                		<div class="btn-chooseEditor" onclick="chooseEditor('$!{c.textbook_id}',this)">选编委>></div>
	                	#else
	                		<div class="btn-chooseEditor" onclick="chooseEditor('$!{c.textbook_id}',this)">查看编委>></div>
	                	#end
	                	#set($textbook_list = $!{c.textbook_list})
	                	#if($textbook_list.size() > 1)
	                	<select id="select_textbook" class="select_textbook" name="select_textbook">
                			#foreach($t in $!{c.textbook_list})
                				<option value="$t.id" class="choose_book">#if(( $!{c.chosen_position}==4||$!{c.chosen_position}==12 ) && $!{c.rank}==1 && $!{c.is_force_end}==false && $!{t.is_locked}==false)遴选-#else查看-#end《$!{t.textbook_name}》</option>
                			#end
                			<option style="display:none;" value ="-1"></option>
                		</select>
                		#end
	                #end
                </div>
                
            </div>
	</li>
		
	#set($objectNum = $objectNum + 1)	
	#end
	    </ul>
</div>
    