
<link rel="stylesheet" href="$!{contextpath}statics/commuser/personalcenter/myComment.css" type="text/css">
<script src="$!{contextpath}resources/commuser/personalcenter/myComment.js"></script>

<input type="hidden" class="queryCondition" id="is_replied" value="$!{is_replied}">

<ul class="replytag_wrapper">
    <li id="replytag_all" class="replytag 
	    #if(!$!{is_replied}||$!{is_replied}=='') 
	    	active
	    #end ">全部</li>
    <li id="replytag_toreply" class="replytag 
		#if($!{is_replied}==1) 
	    	active
	    #end ">我的长评</li>
    <li id="replytag_replied" class="replytag 
		#if($!{is_replied}==0)
	    	active
	    #end ">我的评论</li>
</ul>
<div class="listContent">
	#foreach($c in $!{List_map})
	<div class="bookC">
        <div class="bookC_left">
            
            #if(!$c.image_url || $c.image_url == "DEFAULT")
	        	<img src="$!{contextpath}statics/image/564f34b00cf2b738819e9c35_122x122!.jpg">
	        #else
	        	<img src="$!{c.image_url}">
	        #end
            
        </div>
        <div class="bookC_right">
            <div class="bookC_right_title">$!{c.bookname}</div>
            <div class="bookC_right_name">$!{c.author} &nbsp;&nbsp;/&nbsp;&nbsp; $!{c.publish_date}</div>
            #foreach($o in $!{c.commentList})
            <div class="bookC_right_grade">
                <div class="bookC_right_g"> $!{o.content}</div>
                <div class="bookC_right_a">
                    <div class="time-a">$!{o.gmt_update}</div> 
                    <a class="link_a" href="$!{contextpath}readdetail/todetail.action?id=$!{c.book_id}">修改</a>
                    <a class="link_a" href="$!{contextpath}readdetail/todetail.action?id=$!{c.book_id}">删除</a>
                </div>
            </div>
			#end
            
        </div>
        <div style="clear: both;"></div>
        <div class="dotted_line"></div>
    </div>
		
	
	
	#end	
</div>
