
<link rel="stylesheet" href="$!{contextpath}statics/commuser/personalcenter/mySurvey.css" type="text/css">
<script src="$!{contextpath}resources/commuser/personalcenter/mySurvey.js"></script>


<div class="blank_space"></div>
<div class="listContent">
	<div class="blank_space"></div>
	#foreach($c in $!{List_map})
        <div class="email_content">
	            <div class="email_right" >
		            <a style="cursor:pointer" class="a1" target="_blank" href="$!{contextpath}personalhomepage/queryMySurvey.action?surveyId=$!{c.id}">
		            	&nbsp;&nbsp;&nbsp;&nbsp;$!{c.title}
		            </a>
	            </div>
	      
        </div>
    #end    
</div>
