body .table-area{
    min-height: 80px;
}

body .table-area table{
    padding:0px;
    margin: 24px 0px 24px 0px;
    width:100%;

    border-spacing: 0px 0px;
    border-collapse: collapse;
    white-space: nowrap;

}
body .table-area tr{
    height: 46px;

}
body .table-area tr:first-of-type{
    height: 40px;
}
body .table-area th{
    height: 40px;
    background-color: #f0f0f0;
    padding:0px;margin:0px;

    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #4e4e4e;
    border-left:3px  #ffffff solid;
}
body .table-area th:first-of-type{
    border-left:none;
}

body .table-area tr:nth-child(odd){


}

body .table-area tr:nth-child(even){
    background-color: #f9f9f9;
}

body .table-area td{
    height: 46px;
    border-collapse: collapse;
    border:none;
    padding:0px;margin:0px;

    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 46px;
    letter-spacing: 0px;
    color: #4e4e4e;
    text-align: center;
}

a.not-like-an-a{
    text-decoration: blink;
    color: #1898dd;
}

.search-condition{
    width: 182px;
    margin:15px 15px 0px 5px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #ededed;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #cacaca;
    outline: none;
    padding: 0px 0.5em 0px 0.5em;
}

.content-wrapper .wrapper{
    width: 1200px;
    min-height: 675px;
    padding:30px 0px 61px 0px;
}

.pagination-wrapper{
    display: inline-block;
    width: 100%;
    text-align: right;
    margin: 10px 0px 10px 0px;
}

#btn-search{
    width: 80px;
    text-align: center;
    padding-left: 11.5px;
    height: 33px;
    margin:0px 15px 0px 15px;
    background-color: #1898dd;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0px;
    letter-spacing: 5px;
    color: #ffffff;
    border:none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

#btn-add {
    width: 80px;
    text-align: center;
    padding-left: 11.5px;
    height: 33px;
    margin: 25px 0px 0px 15px;
    background-color: #1abd9b;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0px;
    letter-spacing: 5px;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}