#set($ColNum =$!{startNum})
#foreach($c in $!{List_map})

	<tr>
	    <td class="">$!ColNum</td>
	    <td class=""><a href="$!{contextpath}personalhomepage/tohomepage.action?userId=$!{c.user_id}"  target="_blank">$!{c.realname}</a></td>
	    #if($!{c.sex} == 1)
	    	<td class="">男</td>
	    #elseif($!{c.sex} == 2)
	   		 <td class="">女</td>
	    #else
	    	<td class="">未填写</td>
	    #end
	    <td class="">$!{c.work_org_name}</td>
	    <td class="">$!{c.dec_org_name}</td>
	    <td class="">$!{c.position}</td>
	    <td class="">$!{c.title}</td>
	    #if($!{c.is_locked} == true || $!{isFirstEditorLogIn} == "false" || $!{c.editorAvaliable} == false )
	    	<td class=""><input class="check editor" value="$!{c.dec_position_id}" type="checkbox" disabled="disabled"></td>
	    #else
	    	<td class=""><input class="check editor" value="$!{c.dec_position_id}" type="checkbox"></td>
	    #end
	    
	    #if($!{is_digital_editor_optional}==true)
		    #if($!{c.is_locked} == true || $!{isFirstEditorLogIn} == "false")
		    	<td class=""><input class="check numEditor" value="$!{c.dec_position_id}" type="checkbox" disabled="disabled"></td>
		    #else
		    	<td class=""><input class="check numEditor" value="$!{c.dec_position_id}" type="checkbox"></td>
		    #end
	    #end 
	</tr>	
	#set($ColNum = $ColNum + 1)
			
#end