.sbxq_title{
	width: 1200px;
}
.sbxq_title span{
	letter-spacing: 0px;
	color: #999999;
}

.sbxq_item{
	clear: none;
	margin-top: 20px;
	width: 1200px;
	display: none;
}
.sbxq_item1{
	clear: none;
	margin-top: 20px;
	width: 1200px;
}
.ts_radio{
	width: 260px;
	height: 30px;
}
.ts_radio input{
	vertical-align:middle;
	margin-bottom:2px;
	*margin-bottom:2px;
}
.cg_input{
	width: 180px;
	height: 26px;
	line-height: 26px;
	border: solid 1px #dedede;
	padding-left: 10px;
}
.st{
	margin-left: 5px;
	width: 200px;
	height: 28px;
	float: left;
	border: solid 1px #dedede;
}
.st_1{
	width: 118px;
	height: 28px;
	border: solid 1px #dedede;
}
.st_2{
	width: 180px;
	height: 28px;
	border: solid 1px #dedede;
}
.add_img{
	margin-top:7px;
	cursor: pointer;
}

.text_cl{
	width: 1156px;
	height: 60px;
	background-color: #e8f1fa;
	border-radius: 3px;
	border: solid 1px #3996fa;
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	-webkit-opacity: 0.3;
	opacity: 0.8;
	filter:alpha(opacity=30);
	padding: 10px 10px;
	margin-top: 20px;
	color: #0C0C0C;
}
/**ͼ��ѡ��**/

#tsxz_span1{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -7px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

.tsxz_title{
	letter-spacing: 0px;
	font-weight: normal;
	font-stretch: normal;
	font-weight: bold;
	color: #333333;
	margin-left: 10px;
}

.tsxz_xt{
	letter-spacing: 0px;
	font-weight: normal;
	font-stretch: normal;
	font-weight: bold;
	color: #333333;
	display: none;
}


.tsxz_ts{
	margin-left: 5px;
	display: none;
}
.tsxz_ts1{
	margin-left: 5px;
}

.item{
	margin-top: 15px;
	height: 30px;
}

.item span{
	font-size: 14px;
	letter-spacing: 0px;
	color: #333333;
}

/**ר����Ϣ**/
#tsxz_span2{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -82px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

.content{
	width: 1200px;
}

.tab_1{
	width: 100%;
	margin-top: 15px;
}
.tab_1 tr{
	height: 45px;
}
.tab_1 tr td{
	height: 45px;
}
.tab_1 tr td {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26px;
	letter-spacing: 0px;
	color: #333333;
}
.tab_1 tr td span{
	display: inline-block;
}
.btbs{
	color: red;
}

/**��Ҫѧϰ����**/
#tsxz_span3{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -135px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

.tab_2{
	width: 100%;
	margin-top: 15px;
	border:1px solid #dedede;
	empty-cells:show; 
	border-collapse: collapse;
}

.tab_2 thead tr{
	background-color: #f8f8f8;
	
}

.tab_2 thead td{
	line-height: 30px;
	letter-spacing: 0px;
	color: #333333;
	text-align: center;
	border:1px solid #dedede; 
	height: 32px;
}

.tab_2 tbody td{
	line-height: 30px;
	letter-spacing: 0px;
	color: #999999;
	text-align: center;
	border:1px solid #dedede; 
	height: 48px;
}

.sbdw{
	margin-top: 15px;
}
.btmc{
	line-height: 26px;
	letter-spacing: 0px;
	color: #333333;
}

.button{
	height: 30px;
	width: 1200px;
	text-align: center;
	margin-top: 40px;
	
}

.div_butt{
	width: 270px;
	height: 24px;
	color: #FFFFFF;
	margin:auto;/*��Ҫ,IE����ģʽ*/
	top:50%;
	left:50%;
}
.bt_tj{
	width: 74px;
	height: 24px;
	background-color: #33caa9;
	border-radius: 2px;
	cursor: pointer;
	color: #FFFFFF;
	float: left;
	margin-left: 15px;
}
#tsxz_span4{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -109px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span5{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -56px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span6{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -31px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span7{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -163px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span8{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -191px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span9{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -191px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span10{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -191px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

.scys{
	width: 78px;
	height: 30px;
	background-color: #33CAA9;
	border-radius: 2px;
	cursor: pointer;
	float: left;
	text-align: center;
	line-height: 30px;
}

.scys span{
	margin:auto;/*��Ҫ,IE����ģʽ*/
	top:50%;
	left:50%;
	font-size: 14px;
	letter-spacing: 0px;
	color: #ffffff;
	
}
.pull-right{
	float: right;
}
.addBtn,.delBtn{
	width: 60px;
	height: 24px;
	background-color: #33caa9;
	border-radius: 2px;
	cursor: pointer;
	text-align: center;
}
.delBtn{
	background-color: #ff3d38;
}
.addBtn span,.delBtn span{
	margin:auto;/*��Ҫ,IE����ģʽ*/
	top:50%;
	left:50%;
	font-size: 14px;
	letter-spacing: 0px;
	color: #ffffff;

}
.relative{
	position: relative;
}
.filename{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width:245px ;
}

.fileNameDiv{
	float: left;
	margin-right: 10px;
	line-height: 30px;
}

.radio_tb{
	border: 0;
}
.radio_tb tr td{
	border: 0;
}

.cg_input1{
	width: 180px;
	height: 26px;
	line-height: 26px;
	border: solid 1px red;
	padding-left: 10px;
	border-radius:3px;
	
}

.bookmistake {
    width: 426px;
    background-color: #FFFFFF;
    display: none;
    position: fixed;
    left: 35%;
    top: 30%;
    box-shadow: 0px 0px 5px #888888;
    border-radius: 5px;
    z-index: 999;
}

.apache {
    width: 100%;
    height: 27px;
    float: left;
    margin-top: 16px;
}

.mistitle {
    width: 50%;
    float: left;
    line-height: 24px;
    letter-spacing: 1px;
    color: #333333;
    font-size: 20px;
    margin-left: 20px;
}

.xx {
    width: 14px;
    height: 14px;
    background-image: url(../../image/close.png);
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.info {
    width: 426px;
    /* height: 103px; */
    float: left;
    margin-top: 25px;
}

.misarea {
    width: 374px;
    height: 75px;
    border: 1px solid #E0E0E0;
    margin-left: 20px;
    padding: 5px;
    resize: vertical;
    max-height: 350px;
}

.btn {
    float: right;
    margin-right: 27px;
    width: 84px;
    height: 31px;
    background-color: #1CB394;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    margin-bottom: 10px;
}