
.sbxq_title{
	margin-top: 28px;	
	width: 1200px;
}
.sbxq_title span{

	letter-spacing: 0px;
	color: #999999;
}

.sbxq_item{
	margin-top: 30px;
	clear: none;
	margin-top: 20px;
	width: 1200px;
	display: none;
} 

.sbxq_item1{
	clear: none;
	margin-top: 20px;
	width: 1200px;
}

/**图书选择**/

#tsxz_span1{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -7px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
	margin-top: 3px;
}

.tsxz_title{

	letter-spacing: 0px;
	font-weight: normal;
	font-stretch: normal;
	font-weight: bold;
	color: #333333;
	margin-left: 10px;
}

.item{
	margin-top: 15px;
}

.item span{

	font-size: 14px;
	letter-spacing: 0px;
	color: #333333;
}
/**专家信息**/
#tsxz_span2{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -82px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

.content{
	/*width: 1200px;*/
	width:1050px;

}

.tab_1{
	width: 100%;
	margin-top: 15px;
}

.tab_1 tr td span{

	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	height: 32px;
	line-height: 32px;
	letter-spacing: 0px;
	color: #333333;
}
/**主要学习经历**/
#tsxz_span3{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -135px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

.tab_2{
	width: 100%;
	margin-top: 15px;
	border:1px solid #dedede;
	empty-cells:show; 
	border-collapse: collapse;
}

.tab_2 thead tr{
	background-color: #f8f8f8;
}

.tab_2 thead td{

	line-height: 30px;
	letter-spacing: 0px;
	color: #333333;
	text-align: center;
	border:1px solid #000000;
}

.tab_2 tbody td{

	line-height: 48px;
	height: 48px;
	letter-spacing: 0px;
	color: #000000;
	text-align: center;
	border:1px solid #000000;
}

.sbdw{
	margin-top: 15px;
}
.sbdw span{

	line-height: 26px;
	letter-spacing: 0px;
	color: #333333;
}

.button{
	height: 30px;
	width: 1200px;
	text-align: center;
	margin-top: 40px;
	margin-left: 460px;
}

/*.bt_tj{
	width: 128px;
	height: 24px;
	background-color: #70bcc3;
	border-radius: 2px;
	margin:auto;
	top:50%;
	left:50%;
	cursor: pointer;
	color: #ffffff;
}*/

.bt_tj{
	width: 128px;
	height: 24px;
	background-color: #33CAA9;
	border-radius: 2px;
	margin:auto;
	cursor: pointer;
	color: #ffffff;
	float:left;
	margin-left:10px;
	margin-right: 20px;
}

#tsxz_span4{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -109px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span5{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -56px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span6{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -31px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span7{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -163px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span8{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -191px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span9{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -191px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span10{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -191px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

#tsxz_span13{
	background-image: url(../image/css_sprites.png);
	background-position: -333px -443px;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	float: left;
}
#tsxz_span12{
	background-image: url(../image/css_sprites.png);
	background-position: -333px -470px;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	float: left;
}
/**附件样式**/
a.input {

    text-align:center;
    display:inline-block;
    overflow:hidden;
    position:relative;
}
.file {
    opacity:0;
    filter:alpha(opacity=0);
    font-size:100px;
    position:absolute;
    top:0;
    right:0;
}
.operate{
    margin-left: 20px;
    font-size: 14px;
    color: #03717b;
}
.icon{
    background-image: url(../../statics/image/附件拷贝4.png);
    background-position: 0px 2px;
    height: 30px;
    width: 16px;
    background-repeat: no-repeat;
    margin-left: 25px
}
.name{
    color: #333333;
    margin-right: 6px
}

.text_cl{
	/*width: 1156px;*/
	box-sizing: content-box;
	width:1010px;
	height: 60px;
	background-color: #e8f1fa;
	border-radius: 3px;
	border: solid 1px #3996fa;
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	-webkit-opacity: 0.3;
	opacity: 0.3;
	filter:alpha(opacity=30);
	padding: 15px 20px;
	margin-top: 20px;
}

.yijian{
	border: 1px solid #0C0C0C;
	margin-top: 30px;
	width: 1050px;
	height: 280px;
}

.tujian01{
	margin-top: 5px;
	margin-left: 10px;
}

.tujian02{
	float: right;
	margin-top: 170px;
}

.qianzi{
	float: left;
	margin-right: 160px;
}

.gaizhang{
	float: right;
	margin-right: 20px;
}

.tujian03{
	margin-top: 220px;
	margin-left: 940px;
}

.text_dy{
	width:1030px;
	border: 1px #000000 solid;
	padding: 10px;
	min-height: 50px;
}
.text_dy1{
	width:1030px;
	border: 1px #000000 solid;
	padding: 10px;
	height: 50px;
}


.el-tag{
	background-color: #838fa5;
	display: inline-block;
	padding: 0 5px;
	height: 26px;
	line-height: 22px;
	font-size: 12px;
	color: #fff;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid transparent;
	white-space: nowrap;
	margin-top: 8px;
	margin-right: 8px;
}

.el-button{
	background-color: #33caa9;
	display: inline-block;
	padding: 0 5px;
	height: 26px;
	line-height: 22px;
	font-size: 12px;
	color: #fff;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid transparent;
	white-space: nowrap;
	margin-left: 10px;
	cursor: pointer;
}

#sbzytb{
	background-image: url(../image/zhuanye.png);
	height: 19px;
	width: 19px;
	float: left;
	background-size: 100% 100%;
}

.scys{
	width: 78px;
	height: 30px;
	background-color: #33CAA9;
	border-radius: 2px;
	cursor: pointer;
	float: left;
	text-align: center;
	line-height: 30px;
	border-radius: 3px;
}

.filename{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width:245px ;
}

.fileNameDiv{
	float: left;
	margin-right: 10px;
	line-height: 30px;
	height: 30px;
}

#bzyhjqk_img{
	background-image: url(../image/zhuanyehuojiang.png);
	height: 19px;
	width: 19px;
	float: left;
	background-size: 100% 100%;
}

#sxy-spantopright
{
	float:right;
	height: 14px;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 50px;
	letter-spacing: 0px;
	color: #999999;
}