#foreach($book in $books)
<div class="book" onclick="window.open(contextpath+'readdetail/todetail.action?id=$!{book.id}')"><img src="$!{book.img}" class="bk">
    <div class="book_content_size">$!{book.bookname}</div>
    <div class="book_content_name">
        <span class="yellow-span">$!{book.author}</span>
    </div>

##        <div class="book_content_picture">
##            <span class="yellow"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <span class="con">$!{book.score}</span>
##        </div>
##	#if($book.score < 2)
##		<div class="book_content_picture">
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <div class="con">${book.score}</div>
##        </div>
##    #elseif($book.score>=10)
##        <div class="book_content_picture">
##            <span class="yellow"></span>
##            <span class="yellow"></span>
##            <span class="yellow"></span>
##            <span class="yellow"></span>
##            <span class="yellow"></span>
##            <div class="con">${book.score}</div>
##        </div>
##    #elseif($book.score>=8)
##        <div class="book_content_picture">
##            <span class="yellow"></span>
##            <span class="yellow"></span>
##            <span class="yellow"></span>
##            <span class="yellow"></span>
##            <span class="behind"></span>
##            <div class="con">${book.score}</div>
##        </div>
##    #elseif($book.score>=6 )
##        <div class="book_content_picture">
##            <span class="yellow"></span>
##            <span class="yellow"></span>
##            <span class="yellow"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <div class="con">${book.score}</div>
##        </div>
##    #elseif($book.score>=4 )
##        <div class="book_content_picture">
##            <span class="yellow"></span>
##            <span class="yellow"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <div class="con">${book.score}</div>
##        </div>
##    #elseif($book.score >=2)
##        <div class="book_content_picture">
##            <span class="yellow"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <span class="behind"></span>
##            <div class="con">${book.score}</div>
##        </div>
##    #end
</div>
#end
