#set($teacherauthNum =$!{startNum})
#foreach($c in $!{List_map})
	<tr>
	    <td>$teacherauthNum</td>
	    <td>
	    	<div class="head-portrait-wrapper">
	    		#if(!$c.avatar || $c.avatar == "DEFAULT")
	    			<div class="head-portrait" style="background-image: url('$!{contextpath}statics/image/putongyhtouxiang.png');"></div>
	    		#else
	    			<div class="head-portrait" style="background-image: url($!{contextpath}image/$!{c.avatar}.action);"></div>
	    		#end
	    		<div title="$c.realname">$c.realname</div>
	    	</div>
	    </td>
	    <td>$c.idcard</td>
	    <td>$c.handphone</td>
	    <td>$c.email</td>
	    <td>$c.position</td>
	    <td>$c.title</td>
	    
	    #if($c.progress == 1)
	    	<td><span class="audit-status s1">等待验证</span></td>
	    #elseif($c.progress == 3)
	    	<td><span class="audit-status s2">验证已通过</span></td>
	    #elseif($c.progress == 2)
	    	<td><span class="audit-status s1">已退回</span></td>
	    #else
	    	<td></td>
	    #end
	    
	    #if($null.isNull($c.cert) || $c.cert == "DEFAULT" || !$c.cert)
	    	<td>未上传</td>
	    #else
	    	<td><a class="a-preview" href="javascript:" onclick="previewCert('$!{c.cert}')"
			style="text-decoration: none">预览</a></td>
	    #end
	    
	    #if($c.progress == 1)
	    	<td>
		        <a class="a-pass" onclick="checkAuthen($c.id,'$c.realname')">通过验证</a>
		        <a class="a-reject" onclick="showup($c.id,'$c.realname')">退回</a>
		        <input type="hidden" id = "backReason_$!{c.id}" value="$!{c.backReason}">
		    </td>
	    #elseif($c.progress == 3 || $c.progress == 2)
	    	<td>
                <span class="no-operate">——</span>
            </td>
        #else
        	<td>
                <span class="no-operate">——</span>
            </td>
	    #end
	</tr>	
	
	#set($teacherauthNum = $teacherauthNum + 1)
			
#end