 .area2{
    width:1200px;
    background-color: #ffffff;
    margin-top:0px;
    height:50px;
   }
   .area2 .name{
    font-size: 18px;
    color: #000000;
    }
    .area2 .namehead{
       height:48px;line-height: 48px;border-bottom: 2px solid #666666;width:72px;margin-left:20px
    }
    .collection{
    width: 1200px;
    height:170px;
    background-color: #ffffff
}
.collection .content{
    float: left;
    margin-top: 25px;height:144px;width:1147px;border-bottom: 1px solid #e5e5e5;margin-left:25px
}
.collection .content .content-img{
    width:150px;
    height:90px;
    float: left;
    text-align: center;
    vertical-align: middle;
}
.collection .content img{
    width:150px;
    height:90px;
    border-radius: 2px
}

.collection .content .content-text{
    width:977px;
    height:116px;
    margin-left: 20px;
    float: left;
}
.collection .content .content-text .text{
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    height:30px;font-size: 20px;line-height: 30px
}
.collection .content .content-text .message{
   height:33px;margin-top:5px
}
.collection .content .content-text .personicon{
    float:left;background-image: url(../../image/rwtx.png);height:33px;width:33px
}
.collection .content .content-text .username{
   height:33px;line-height:33px;float:left;max-width: 100px;margin-left:10px;margin-right:10px;font-size: 16px;color:#333333
}
.collection .content .content-text .staricon{
    background-image: url(../../image/css_sprites.png);background-repeat: no-repeat;
    height: 33px;width: 15px;background-position: -183px -165px;float:left
}
.collection .content .content-text .end{
  height:62px;line-height: 31px;overflow: hidden;font-size: 14px;color:#333333
}