
.datalist_ul {

    position: absolute;
    z-index: 1;
    display: none;
    background: #fff;
    overflow: auto;
    box-shadow: 1px 1px 3px #ededed;
    -webkit-box-shadow: 1px 1px 3px #ededed;
    -moz-box-shadow: 1px 1px 3px #ededed;
    -o-box-shadow: 1px 1px 3px #ededed;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border: solid 1px #1abd9b;
    border-top-width: 0px;
}

.datalist_ul .datalist_li {
    background: white;
    color: #000;
    padding: 0.5em 0.5em;
    text-align: left;
    box-sizing: border-box;
}

.datalist_ul .datalist_li_hover {
    background: rgba(100, 149, 237,0.8);
    color: #fff;
}

.detalist_ul .datalist_li_hide {
    display: none;
}
::-webkit-scrollbar {
    width: 0.5em;
}
/*
        ::-webkit-scrollbar-button{
            height:0.5em;
            width:0.5em;
            background:#ccc;
        }*/

::-webkit-scrollbar:horizontal {
    height: 0.2em;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: #0C0C0C;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(35, 169, 110, 0.4);
}