body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    min-height: 400px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    font-stretch: normal;
}

.body {
    width: 100%;
    background: #FFFFFF;
}

.color-blue {
    color: #179192;
}

.bgcolor-blue {
    background: #179192;
}

.head {
    width: 100%;
    height: 80px;
    border-bottom: #E5E3DF 1px solid;
}

.head .content {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.head .image {
    width: 180px;
    position: absolute;
    top: 19px;
    left: 0;
}

.head .links {
    position: absolute;
    top: 30px;
    left: 240px;
}

.head .links a {
    text-decoration: none;
}

.head .link {
    display: inline-block;
    width: 76px;
    color: #999999;
    font-size: 18px;
    cursor: pointer;
}

.head .link.active {
    color: #333333;
}

.head .delete {
    background: url("../../statics/image/close.png");
    width: 14px;
    height: 14px;
    position: absolute;
    left: 518px;
    top: 35px;
    cursor: pointer;
    display: none;
}

.head .search-input {
    box-sizing: content-box;
    width: 295px;
    height: 34px;
    position: absolute;
    padding-left: 25px;
    left: 542px;
    top: 23px;
    border-radius: 17px;
    border: solid 1px #1abd9b;
    line-height: 34px;
    display: none;
}

.head .search-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 829px;
    top: 33px;
    cursor: pointer;
}

.head .write {
    position: absolute;
    left: 892px;
    top: 23px;
    width: 90px;
    height: 34px;
    border-radius: 17px;
    border: solid 2px #1abd9b;
    color: #1abd9b;
    font-size: 16px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.head .download {
    position: absolute;
    top: 33px;
    right: 125px;
    width: 61px;
    height: 12px;
    line-height: 18px;
    color: #999999;
    cursor: pointer;
}

.head .login-logout {
    position: absolute;
    top: 36px;
    left: 1078px;
    color: #999999;
    line-height: 13px;
    height: 13px;
}

.head .login-logout a {
    text-decoration: none;
    color: #999999;
}

.head .login-logout img {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 86px;
    top: -12px;
    cursor: pointer;
}

.head .user-info {

}

.head .user-info .notice-icon {
    width: 24px;
    height: 28px;
    position: absolute;
    right: 70px;
    top: 25px;
    cursor: pointer;

}

.head .user-info .user-icon {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0px;
    top: 21px;
    border-radius: 50%;
    cursor: pointer;
}

.head .user-info .sign {
    background: red;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    right: 67px;
    top: 22px;
    z-index: 4;
    border-radius: 50%;
}

.head .user-select {
    width: 130px;
    height: 140px;
    z-index: 99;
    /*   background: white;*/
    position: absolute;
    top: 66px;
    right: -40px;
    display: none;
}

.head .user-select .select {
    position: absolute;
    top: 0;
    left: 38px;
    width: 68px;
    height: 110px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.head .option {
    height: 28px;
    line-height: 28px;
    width: 100%;
    text-align: center;
    color: #999999;
    cursor: pointer;
    text-decoration: none;
}

.head .option.out {
    margin-top: 4px;
    text-align: center;
    color: red;
}

.head .download-pic {
    width: 320px;
    height: 177px;
    z-index: 99;
    /*    background: white;*/
    position: absolute;
    top: 68px;
    right: 120px;
    display: none;
}

.head .help {
    position: absolute;
    top: 36px;
    right: 0px;
    /*width: 80px;*/
    color: #414141;
    vertical-align: middle;
    line-height: 16px;
    height: 16px;
}

.head .help .icon {
    background: url("../image/a.png");
    background-position: -53px -16px;
    height: 16px;
    width: 16px;
    display: inline-block;
    cursor: pointer;
}

.head .help .wtext {
    height: 16px;
    width: 16px;
    display: inline-block;
    width: 60px;
    vertical-align: top;
}

.head .writing {
    position: absolute;
    top: 36px;
    right: 80px;
    /*width: 80px;*/
    color: #414141;
    vertical-align: middle;
    line-height: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 10px;
    border-right: 1px solid #e1e1e1;
}

.head .writing.logined {
    right: 100px;
    border-right:none;
    top: 30px;
}

.head .writing .icon {
    background: url("../image/a.png");
    background-position: -16px -15px;
    height: 16px;
    width: 14px;
    display: inline-block;
    cursor: pointer;

}

.head .writing .wtext {
    height: 16px;
    width: 16px;
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.head .loginout {
    position: absolute;
    top: 36px;
    right: 160px;
    /*width: 80px;*/
    color: #414141;
    vertical-align: middle;
    line-height: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 10px;
    border-right: 1px solid #e1e1e1;
}

.head .loginout .login {
    width: 80px;
    display: inline-block;
    color: #ff0000;
}

.head .loginout .logout {
    width: 70px;
    display: inline-block;
}

.footer{
    background: #F8F8F8;
}

.tail {
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}

.tail .about {
    height: 40px;

}

.tail .about .item {
    /*width: 99px;*/
    padding: 0 5px;
    color: #999999;
    margin: auto;
    text-decoration:none;
    text-align: center;
    /*border-left: 1px solid #9A9691;*/
}

.tail .copyright {
    text-align: center;
    margin-top: 15px;
}

.org-head .div-content {
    width: 1200px;
    margin: 0 auto;
    background-color: White;
}

.org-head #div-titletop {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.org-head .top-lable1 {
    height: 12px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    line-height: 45px;
    letter-spacing: 0px;
    color: #9aaabf;
}

.org-head .top-lable2 {
    height: 12px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    line-height: 45px;
    letter-spacing: 0px;
    color: #9aaabf;
    float: right;
}

.org-head .div-menu {
    width: 100%;
    height: 70px;
    background-color: #29ab8f;
}

.org-head .div-menu-child {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    line-height: 70px;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.org-head .div-menu-child-click {
    background: #259980;
}

.clear {
    clear: both;
}

.hidden-upload {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0;
    z-index: 10;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    cursor: pointer;
}

.upload-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0;
    z-index: 999;

}

.upload-loading .shade {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: alpha(opacity=0.6);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    background: black;
}

.upload-loading img {
    float: left;
}

.upload-loading .loading-text {
    float: left;
    color: white;
    margin-left: 5px;
    font-size: 12px;
}

td {
    position: relative;
}

.no-more {
    height: 300px;
    width: 330px;
    text-align: center;
    margin: auto !important;
    padding-top: 10px;
    color: #333333;
}

.no-more img {
    display: block;
}

.float-menu {
    width: 52px;
    height: 210px;
    position: fixed;
    top: 0;
}

.float-menu .item {
    display: block;
    width: 44px;
    height: 44px;
    margin-bottom: 2px;
    background: #00D2B0;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    line-height: 22px;
    cursor: pointer;
    font-size: 15px;
}

.float-menu .item.orange {
    background: #FF9C43;
}

.float-menu .item.blue {
    background: #009EA3;
}

.float-menu .item.black {
    line-height: 44px;
    background: #383C48;
}

.input-error {
    border: 1px solid red;
}