<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
">
    <!-- 使用cglib进行动态代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <context:component-scan base-package="com.bc.pmpheep.back;com.bc.pmpheep.general">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--AXIOS跨域请求访问拦截 -->
    <mvc:interceptors>
        <bean class="com.bc.pmpheep.back.interceptor.ProcessInterceptor"></bean>

        <bean class="com.bc.pmpheep.back.interceptor.LoginInterceptor">
            <property name="redirectUrl" value="http://books123456789.ipmph.com/newsso/"/>
            <property name="serviceID" value="yiyaojiaohu"></property>
            <property name="pathWithUsertypeMaps">
                <set>

                    <!--作家用户-->

                    <value>/message/* -> 1</value><!--作家用户消息模块 -->
                    <value>/writerArticle/* -> 1</value><!--作家写文章 -->
                    <value>/personalhomepage/* -> 1</value><!--作家个人中心 -->
                    <value>/material/* -> 1</value><!--教材申报 -->

                    <value>/bookcollection/* -> 1</value><!--书籍收藏 -->
                    <value>/articlecollection/* -> 1</value><!--文章收藏 -->
                    <value>/myGroup/* -> 1</value><!--我的小组 -->
                    <value>/group/* -> 1</value><!--我的小组 -->
                    <value>/group/* -> 1</value><!--我的小组 -->
                    <value>/cmsinfoletters/addlike.action -> 1</value><!--信息快报列表点赞 -->
                    <value>/inforeport/add* -> 1</value><!--信息快报详情点赞、收藏  -->
                    <value>/articlesearch/changelikes* -> 1</value><!--文章搜索点赞 -->
                    <value>/readdetail/insertComment* -> 1</value><!--读书详情页面新增评论 -->
                    <value>/readdetail/addmark* -> 1</value><!--读书详情页添加收藏 -->
                    <value>/readdetail/addlikes* -> 1</value><!--读书详情页点赞 -->
                    <value>/readdetail/correction* -> 1</value><!--读书详情页图书纠错 -->
                    <value>/myFriend/* -> 1</value><!--我的好友（普通用户） -->
                    <value>/articlesearch/changelikes* -> 1</value><!--读书详情页改变点赞数 -->
                    <value>/articlesearch/changelikes* -> 1</value><!--读书详情页改变点赞数 -->
                    <value>/addFriend/* -> 1</value><!--添加好友 -->
                    <value>/booksearch/likeSwitch* -> 1</value><!--书籍查询 -->
                    <value>/teacherCertification/* -> 1</value><!--学校教师认证 -->
                    <value>/bookdeclare/* -> 1</value><!--出书申报 -->
                    <value>/survey/* -> 1</value><!-- 出书申报 -->
                    

                    <!--机构用户-->
                    <value>/user/* -> 2</value><!--用户管理（机构用户） -->
                    <value>/schedule/* -> 2</value><!--机构用户待办事项 -->
                    <value>/applyDocAudit/* -> 2</value><!--申报资料审核（机构用户） -->
                    <value>/chooseEditor/* -> 2</value><!--第一主编选择编委 -->
                    <value>/teacherauth/* -> 2</value><!--教师认证 -->

                </set>
            </property>
        </bean>
    </mvc:interceptors>

    <mvc:annotation-driven/>

    <mvc:resources mapping="/statics/**" location="/statics/"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="1048576000"/>
    </bean>

    <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.bc.pmpheep.back.interceptor.LoginInterceptor.PathWithUsertypeMap"
                       value="com.bc.pmpheep.back.interceptor.LoginInterceptor.PathWithUsertypeMapPropertyEditor"></entry>
            </map>
        </property>
    </bean>
</beans>