<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
">
    <!-- 使用cglib进行动态代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <context:component-scan base-package="com.bc.pmpheep.back;com.bc.pmpheep.general">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--AXIOS跨域请求访问拦截 -->
    <mvc:interceptors>
        <bean class="com.bc.pmpheep.back.interceptor.ProcessInterceptor"></bean>

        <mvc:interceptor >
            <mvc:mapping path="/personalhomepage/*"/>
            <mvc:mapping path="/writerArticle/*"/>
            <mvc:mapping path="/message/*"/>
            <mvc:mapping path="/material/*"/>
             <!--书籍收藏-->
            <mvc:mapping path="/bookcollection/*"/>
            
            <!--书籍收藏-->
            <mvc:mapping path="/articlecollection/*"/>
            <mvc:mapping path="/schedule/*"/>
            <mvc:mapping path="/admininfocontroller/*"/>
            <mvc:mapping path="/myGroup/*"/>
            <mvc:mapping path="/group/*"/>
            <!--信息快报列表点赞-->
            <mvc:mapping path="/cmsinfoletters/addlike.action"/>
            
            <!--信息快报详情点赞、收藏  -->
            <mvc:mapping path="/inforeport/add*"/>
            <mvc:mapping path="/articlesearch/changelikes*"/><!-- 文章搜索点赞 -->
			<mvc:mapping path="/readdetail/insertComment*"/><!-- 读书详情页面新增评论 -->
			<mvc:mapping path="/readdetail/addmark*"/><!-- 读书详情页添加收藏 -->
			<mvc:mapping path="/readdetail/addlikes*"/><!-- 读书详情页点赞 -->
			<mvc:mapping path="/user/*"/><!-- 用户管理（机构用户） -->
			<mvc:mapping path="/myFriend/*"/><!-- 我的好友（普通用户） -->
            <!--申报资料审核（机构用户）第一主编选择编委 教师认证 添加好友 书籍查询 书籍列表 学校教师认证-->
            <mvc:mapping path="/applyDocAudit/*"/>
            <mvc:mapping path="/chooseEditor/*"/>
            <mvc:mapping path="/teacherauth/*"/>
            <mvc:mapping path="/addFriend/*"/>
            <mvc:mapping path="/booksearch/likeSwitch*"/>
            <mvc:mapping path="/teacherCertification/*"/>
            <mvc:mapping path="/schedule/*"/>
            <!--  -->
            
            <bean class="com.bc.pmpheep.back.interceptor.LoginInterceptor">
                <property name="redirectUrl" value="http://sso.ipmph.com/login"/>
                <property name="serviceID" value="yiyaojiaohu"></property>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <mvc:annotation-driven/>

    <mvc:resources mapping="/statics/**" location="/statics/"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="104857600"/>
    </bean>
</beans>