<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
">
    <!-- 使用cglib进行动态代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <context:component-scan base-package="com.bc.pmpheep.back;com.bc.pmpheep.general">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:property-placeholder location="classpath:spring/spring.properties" ignore-unresolvable="true" />

    <!-- 保存变量到application范围 -->
    <bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
        <property name="attributes">
            <map>
                <entry key="redirectUrl" value="${sso.url}"/>
                <entry key="serviceID" value="${sso.serviceID}"/>
            </map>
        </property>
    </bean>


    <bean id="loginInterceptor" class="com.bc.pmpheep.back.interceptor.LoginInterceptor">
        <property name="remoteUrl" value="${remoteUrl}"></property>
        <property name="redirectUrl" value="${sso.url}"/>
        <property name="serviceID" value="${sso.serviceID}"></property>
        <property name="remoteVideoUrl" value="${remoteUrl}"></property>
        <property name="cartUrl" value="${cartUrl}"></property>
        <property name="pathWithUsertypeMaps">
            <set>

                <value>/dataaudit/toMaterialAudit.action -> 2</value><!--申报资料审核（机构用户） -->

                <!--作家用户-->

                <value>/mymessage/* -> 1,2</value><!--作家用户消息模块 -->
                <value>/message/deleteNoticeMessage* -> 1</value><!--作家用户消息通知删除模块 -->
                <value>/message/updateApplyMessage* -> 1</value><!--作家用户消息好友接受、忽略模块 -->
                <value>/writerArticle/* -> 1</value><!--作家写文章 -->
                <value>/personalhomepage/* -> 1</value><!--作家个人中心 -->
                <value>/material/* -> 1</value><!--教材申报 -->
                <value>/integral/* -> 1</value><!--积分 -->

                <value>/expertation/lookforward* -> 1</value><!--首页新产品拦截-->
                <value>/bookcollection/* -> 1</value><!--书籍收藏 -->
                <value>/articlecollection/* -> 1</value><!--文章收藏 -->
                <value>/myGroup/* -> 1</value><!--我的小组 -->
                <value>/group/* -> 1</value><!--我的小组 -->
                <value>/cmsinfoletters/addlike.action -> 1</value><!--信息快报列表点赞 -->
                <value>/inforeport/add* -> 1</value><!--信息快报详情点赞、收藏  -->
                <value>/articlesearch/changelikes* -> 1</value><!--文章搜索点赞 -->
                <value>/readdetail/insertComment* -> 1</value><!--读书详情页面新增评论 -->
                <value>/readdetail/queryLoginLong* -> 1</value><!--读书详情页面 查询登陆人是否写过长评 -->
                <value>/readdetail/insertlong* -> 1</value><!--读书详情页面新增长评 -->
                <value>/readdetail/todetail.action?state=write* -> 1</value><!--读书详情页面跳转到新增书评页面 -->
                <value>/readdetail/addmark* -> 1</value><!--读书详情页添加收藏 -->
                <value>/readdetail/addlikes* -> 1</value><!--读书详情页点赞 -->
                <value>/readdetail/correction* -> 1</value><!--读书详情页图书纠错 -->
                <value>/readdetail/tologin* -> 1</value><!--必须登录 -->
                <value>/myFriend/* -> 1</value><!--我的好友（普通用户） -->
                <value>/articlesearch/changelikes* -> 1</value><!--读书详情页改变点赞数 -->
                <value>/addFriend/* -> 1</value><!--添加好友 -->
                <value>/booksearch/likeSwitch* -> 1</value><!--书籍查询 -->
                <value>/teacherCertification/* -> 1</value><!--学校教师认证 -->
                <value>/bookdeclare/* -> 1</value><!--出书申报 -->
                <value>/survey/* -> 1</value><!--出书申报 -->
                <value>/chooseEditor/* -> 1</value><!--第一主编选择编委 -->
                <value>/progress/listReportProgress.action* -> 1</value><!-- 教材申报进度 -->
                <value>/articledetail/insertComment* -> 1</value><!--文章详情页面新增评论 -->
                <value>/articledetail/addmark* -> 1</value><!--文章详情页添加收藏 -->
                <value>/articledetail/addlikes* -> 1</value><!--文章详情页点赞 -->
                <value>/message/noticeMessageList* -> 1</value><!--查询通知列表 -->
                <value>/message/applyMessageList* -> 1</value><!--查询申请列表 -->
                <value>/userinfo/touser.action -> 1</value>
                <value>/userinfo/comchangepwd.action -> 1</value>
                
                <value>/expertation/toExpertationAdd.action* -> 1</value> <!-- 临床申报 去新增界面 -->
                <value>/expertation/doExpertationAdd.action* -> 1</value>  <!-- 临床申报 保存 -->
                <value>/expertation/toExpertationZc.action* -> 1</value> <!-- 临床申报 去暂存界面 -->
                <value>/expertation/querySubject.action* -> 1</value> <!-- 临床申报 查学科分类 -->
                <value>/expertation/queryContent.action* -> 1</value> <!-- 临床申报 查内容分类 -->
                <value>/expertation/toSearchZy.action* -> 1</value> <!-- 临床申报 查专业分类 -->
                <value>/expertation/declare.action* -> 1</value> <!-- 临床申报 跳转到个人申报列表页面 -->
                <value>/expertation/lookforward.action* -> 1</value>  <!-- 临床申报 重定向方法 -->
                <value>/expertation/toPersondetail.action* -> 1</value> <!-- 临床申报 个人中心跳转链接 -->
                <value>/expertation/toSearchOrg.action* -> 1</value> <!-- 临床申报 选择申报学校 -->
                <value>/research/tolist.action* -> 1</value><!--调研表  列表页面-->
                <value>/course/teacher/* -> 1</value><!--课程选书  页面-->

                <!--机构用户-->
                <value>/user/* -> 2</value><!--用户管理（机构用户） -->
                <value>/schedule/* -> 2</value><!--机构用户待办事项 -->
                <value>/applyDocAudit/* -> 2</value><!--申报资料审核（机构用户） -->
                <value>/teacherauth/* -> 2</value><!--教师认证 -->
                <value>/organizationuser/* -> 2</value><!--机构用户管理-->
                <value>/admininfocontroller/toadmininfo* -> 2</value><!--个人资料修改页面-->
                <value>/admininfocontroller/toadminattest* -> 2</value><!--跳转到学校管理员认证界面-->
                <value>/AllMessage/* -> 2</value>
                <value>/authSendMessage/* -> 2</value> <!--机构管理员发送消息-->
                <value>/dataaudit/* -> 2</value> <!--教材申报办理-->
                <value>/declareCount/* -> 2</value>
                <value>/admininfocontroller/* -> 2</value>
                <value>/userinfo/toNoAccessToAuthority* -> 2</value>
                <value>/admininfocontroller/tochangepwd.action -> 2</value>
				<value>/expertation/doExpertationAuditPass.action* -> 2</value> <!-- 临床申报 机构审核 -->

            </set>
        </property>
    </bean>

    <!--AXIOS跨域请求访问拦截 -->
    <mvc:interceptors>
        <bean class="com.bc.pmpheep.back.interceptor.ProcessInterceptor"></bean>
        <ref bean="loginInterceptor"></ref>
        <!--机构用户未认证拦截-->
        <mvc:interceptor>
            <!--机构用户没有认证所有需要认证的方法都访问此方法-->
            <mvc:mapping path="/dataaudit/checkAuthen*"/>
            <bean class="com.bc.pmpheep.back.interceptor.AuthenticationInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <mvc:annotation-driven/>

    <mvc:resources mapping="/statics/**" location="/statics/"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="1048576000"/>
    </bean>

    <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.bc.pmpheep.back.interceptor.LoginInterceptor.PathWithUsertypeMap"
                       value="com.bc.pmpheep.back.interceptor.LoginInterceptor.PathWithUsertypeMapPropertyEditor"></entry>

            </map>
        </property>
    </bean>
</beans>