
#set($teacherauthNum =$!{startNum})

#foreach($c in $!{List_map})
	<tr>
	    <td>$teacherauthNum</td>
	   	<td class="font_name" target="_blank" onclick="toName($!{material_id},$!{c.id})">$!{c.realname}</td>
		<td>$!c.position</td>
		<td>$!c.title</td>
		
		
		#if($c.preset_position == 0)
	    	<td>$!{c.textbook_name}-未选择</td>
	    	
	    #if($c.preset_position == 1||$c.preset_position == 3)
	    	<td>$!{c.textbook_name}-编委</td>
	   	#elseif($c.preset_position == 2)
    	<td>$!{c.textbook_name}-主编 </td>
    	#elseif($c.preset_position == 3)
    	<td>$!{c.textbook_name}-副主编,编委</td>
	    #else
	    	<td></td>
	    #end
		
		#if($c.online_progress == 0)
	    	<td>未提交</td>
	    #elseif($c.online_progress == 1)
	    	<td>已提交</td>
	   	#elseif($c.online_progress == 2)
    	<td>被退回 </td>
    	#elseif($c.online_progress == 3)
    	<td>通过</td>
	    #else
	    	<td></td>
	    #end
		
		 #if($c.offline_progress == 0)
	    	<td>未收到</td>
	    #elseif($c.offline_progress == 1)
	    	<td>被退回</td>
	   	#elseif($c.offline_progress == 2)
	    	<td>已收到 </td>
	    #else
	    	<td></td>
	    #end
	    
	    #if($c.chosen_position == 0)
	    	<td>无</td>
	    #elseif($c.chosen_position == 1)
	    	<td>主编</td>
	   	#elseif($c.chosen_position == 2)
	    	<td>副主编  </td>
	    #elseif($c.chosen_position == 3)
	    	<td>主编</td>
	    #else
	    	<td>无</td>
	    #end
	</tr>	
	
	#set($teacherauthNum = $teacherauthNum + 1)
	
#end
