
#set($teacherauthNum =$!{startNum})

#foreach($c in $!{List_map})
	<tr>
	    <td>$teacherauthNum</td>
	   	<td class="font_name" target="_blank" onclick="toName($!{material_id},$!{c.did})">$!{c.drealname}</td>
		<td>$!c.dposition</td>
		<td>$!c.dtitle</td>
		<td>$!c.bpp</td>
		<td>$!c.onlineprogress</td>
		<td>$!c.offlineprogress</td>
		<td>$!c.cp</td>
	</tr>	
	
	#set($teacherauthNum = $teacherauthNum + 1)
	
#end
