.sbxq_title{
	margin-top: 28px;	
	width: 1000px;
}
.sbxq_title span{
	font-family: MicrosoftYaHei;
	letter-spacing: 0px;
	color: #999999;	
}

.sbxq_item{
	clear: none;
	margin-top: 20px;
	width: 1000px;
}

#tsxz_span1{
	background-image: url(../../image/css_sprites.png);
    background-position: -333px -7px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

.tsxz_title{
	font-family: MicrosoftYaHei;
	letter-spacing: 0px;
	font-weight: normal;
	font-stretch: normal;
	font-weight: bold;
	color: #333333;
	margin-left: 10px;
}

#tsxz_span1{
	background-image: url(../../image/css_sprites.png);
    background-position: -333px -7px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

.content{
	width: 1000px;
}
/**tab1**/
.tab_1{
	width: 100%;
	margin-top: 15px;
}
.tab_1 tr{
	height: 53px;
}
.tab_1 tr td{
	height: 53px;
}
.tab_1 tr td {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26px;
	letter-spacing: 0px;
	color: #666666;
	text-align: left;
}
.tab_1 tr td span{
	display: inline-block;
}
.btbs{
	color: red;
}
.tsxz_ts1{
	margin-left: 5px;
}
/**table2**/
.tab_2{
	width: 100%;
	margin-top: 15px;
	border:1px solid #dedede;
	empty-cells:show; 
	border-collapse: collapse;
}

.tab_2 thead tr{
	background-color: #d4d9dd;
	
}

.tab_2 thead td{
	font-family: MicrosoftYaHei;
	line-height: 35px;
	letter-spacing: 0px;
	color: #333333;
	text-align: center;
	border:1px solid #dedede; 
	height: 40px;
}

.tab_2 tbody td{
	font-family: MicrosoftYaHei;
	line-height: 30px;
	letter-spacing: 0px;
	color: #999999;
	text-align: center;
	border:1px solid #dedede; 
	height: 35px;
}
/**输入框**/
.cg_input{
	clear:none;
	width: 296px;
	height: 30px;
	line-height: 26px;
	border: solid 1px #dedede;
	padding-left: 10px;
}
.sb_input{
	clear:none;
	width:90%;
	height: 30px;
	line-height: 26px;
	border: solid 1px #dedede;
	padding-left: 10px;
}
.tsjb{
	width: 306px;
	height: 30px;
	border: dashed 1px #dedede;
	padding-top: 7px;
}

.tslb{
	width: 100%;
	height: 30px;
	border: dashed 1px #dedede;
	padding-top: 7px;
	
}

/**内容框**/
.content{
	width: 100%;
}
.text_cl{
	width: 840px;
	height: 60px;
	background-color: #e8f1fa;
	border-radius: 3px;
	border: solid 1px #3996fa;
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	-webkit-opacity: 0.3;
	opacity: 0.3;
	filter:alpha(opacity=30);
	padding: 15px 20px;
	margin-top: 20px;
}
/**提交按钮**/
.button{
	height: 30px;
	width: 1000px;
	text-align: center;
	margin-top: 40px;
	
}

.div_butt{
	width: 270px;
	height: 24px;
	color: #FFFFFF;
	margin:auto;
	top:50%;
	left:50%;
}
.bt_tj{
	width: 74px;
	height: 24px;
	background-color: #70bcc3;
	border-radius: 2px;
	cursor: pointer;
	color: #FFFFFF;
	float: left;
	margin-left: 15px;
}
.sb_tj{
	width: 74px;
	height: 28px;
	background-color: #1cb194;
	border-radius: 2px;
	cursor: pointer;
	color: #FFFFFF;
	float: right;
	margin-left: 15px;
}

/**操作按钮**/
.add_div{
	width: 100px;
	height: 32px;
	margin-top: 5px;
	text-align: center;
}

.add_img{
	cursor: pointer;
	
}